@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$font-family: 'Architects Daughter', cursive;

.container {
  width: 60%;
  margin: 0 auto;
}

.container_image {
  position: static;

  h1 {
    margin-bottom: 0;
    font: normal normal 500 3rem/4rem $font-family;
    text-align: center;
    font-style: italic;
  }
  .main_image {
    position: relative;
    top: -3rem;
    margin-top: 0;
    width: 100%;
    padding: 2rem;
  }
}

.form {
  position: relative;
  top: -4rem;

  .form_field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  label {
    display: block;
    margin: 0 1rem;
    overflow: auto;
    font: normal normal 400 1.5rem/1.5rem $font-family;
    font-size: 18px;
    color: #444;
    text-shadow: 0 0 2px #000;
    padding: 20px 10px 10px 0;
  }

  input {
    width: 60%;
    margin: 0 auto;
    border: 2px solid #26bf47;
    border-radius: 1rem;
    font: normal normal 400 1.25rem/1.25rem $font-family;
    padding: 0.1rem 0.5rem;
    margin-top: -10px;
  }
  input:focus {
    outline: none;
    border-color: #26bf47;
    box-shadow: 0 0 10px #26bf47;
  }

  .button {
    display: none;
  }
}

.container_display {
  background: lightseagreen;
  font: normal normal 400 1rem/1rem $font-family;
  padding: 1rem;
  border-radius: 1rem;
}
