@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$font-family: 'Architects Daughter', cursive;
$main-color: #26bf47;

@mixin label {
  label {
    margin: 0 1rem;
    overflow: auto;
    font: normal normal 400 1.5rem/1.5rem $font-family;
    font-size: 18px;
    color: #444;
    text-shadow: 0 0 2px #000;
    padding: 20px 10px 10px 0;
  }
}

@mixin border {
  border: 2px solid $main-color;
  border-radius: 1rem;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0;
  font: normal normal 500 3rem/4rem $font-family;
  text-align: center;
  font-style: italic;
}

.container_degrees{
  @include label;
  @include border;

  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.1rem 0.5rem;
}

.form {
  @include label;

  .form_field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  input {
    width: 60%;
    margin: 0 auto;
    border: 2px solid $main-color;
    border-radius: 1rem;
    font: normal normal 400 1.25rem/1.25rem $font-family;
    padding: 0.1rem 0.5rem;
    margin-top: -10px;
  }

  input:focus {
    outline: none;
    border-color: $main-color;
    box-shadow: 0 0 10px $main-color;
  }

  .button {
    display: none;
  }
}

.container_display {
  margin-top: 2rem;
  background: $main-color;
  font: normal normal 400 1rem/1rem $font-family;
  padding: 1rem;
  border-radius: 1rem;
}

.weather_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
